@import '../../../styles/style.scss';

body{
     background-color: var(--tm-color-dark-black-2) !important;     
}

.cart{

     .cart-is-empty{
          text-align: start;
          font-size: 16px;
          max-width: 1200px;
          margin: 0 auto;
          background-color: var(--tm-color-lime);
          color: black;
          padding: 15px 15px;

     }
     
     &__main-title{
          padding: 20px 20px;
          font-size: 42px;
          font-weight: 400;
          text-align: center;
     }

     &__products-table{
          max-width: 1200px;
          margin: 0 auto;

          &-header{
               background-color: var(--cart-table-header-color);
               height: 53px;
               box-shadow: 0 0.3px 0 0 var(--tm-color-grey);

               .table-row-header{

                    &__cell{
                         color: var(--text-color-grey);
                         text-transform: uppercase;
                         font-size: 14px;
                         font-weight: 300;
                         border: none;
                         padding: 16px;

                         &.text-align-left{
                              text-align: start;
                         }
                    }

               }
          }

          .product-item-row{
               box-shadow: 0 0.3px 0 0 var(--tm-color-grey);

               &__main-image{
                    object-fit: contain;
               }

               &__cell{
                    padding: 16px;
                    font-weight: 300;

                    &.available{
                         min-width: 150px;

                         &__text{
                              font-size: 16px;
                              color: var(--text-color-grey-light);
                         }
                    }

                    .title-div{
                         display: flex;
                         justify-content: center;
                         flex-direction: column;
                         gap: 2px;

                         &--pc-name{
                              font-size: 20px;
                              text-transform: uppercase;
                              font-weight: 400;
                         }
                         &--pc-id{
                              font-size: 15px;
                              color: var(--main-color);
                         }
                         &--product-type{
                              color: var(--text-color-grey);
                         }
                         &--product-name{

                         }
                    }

                    .pc-info{
                         display: flex;
                         justify-content: center;
                         flex-direction: column;
                         gap: 10px;
                         min-width: 370px;

                         &__title{
                              
                         }
                    }

                    .btn-delete{
                         @include reset-button;
                         cursor: pointer;

                         @include hover{
                              
                              img{
                                   transition-duration: var(--transition-duration);
                                   opacity: 0.5;
                              }     
                         }

                         
                    }

                    .quantity{
                         display: grid;
                         grid-template-columns: 28px 34px 28px;
                         border-radius: 2px;
                         border: 1px solid #313131;
                         background: #222;

                         &__btn-change-count{
                              @include reset-button;
                              @include flex-center;
                              cursor: pointer;
                              transition-duration: var(--transition-duration);

                              @include hover{
                                   svg{
                                        fill: var(--tm-color-lime);
                                   }
                              }

                              svg{
                                   fill: white;
                              }

                              &.disabled{
                                   cursor: default;
                                   svg{
                                        fill: gray;
                                   }     
                              }
                         }

                         &__input{
                              width: 34px;
                              aspect-ratio: 1;
                              background: #1c1c1c;
                              color: #ccc;
                              border-left: 1px solid #2a2a2a;
                              border-right: 1px solid #2a2a2a;
                              border-bottom: none;
                              border-top: none;
                              text-align: center;
                              font-size: 16px;
                              font-weight: 300;

                              &:focus {
                                   outline: none;
                                   border: 1px solid var(--tm-color-lime);
                              }

                              &[type=number] {
                                   appearance: textfield;
                              }

                              &::-webkit-inner-spin-button,
                              &::-webkit-outer-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                              }
                         }    

                    }
               }
          }
     }
}

.delete-modal-btn{
     height: 35px;

     &.mr{
          margin-right: 4px;     
     }
}

.delete-modal-title{
     padding-block:10px;
     font-size: 18px;
     color: var(--text-color-grey-light);
}